/target
/.fastembed_cache
.agent
MyVault
MyVault/*
MyVault/Arsitektur Microservice.canvas
MyVault/Arsitektur Microservice.md
MyVault/Belanja Mingguan.md
MyVault/Database Schema.md
.DS_Store
assets/.DS_Store
locales/.DS_Store
MyVault/.mnemonic/index.sqlite3
